
.jumbotron{
  align-content: center;
}
#quiz{
  text-align: center;
  text-decoration: underline;
  text-transform: capitalize;
  color: red;
}
#questions{
  text-align: center;
  text-transform: capitalize;
  color:rgb(19, 28, 107);
}
